body{
  background-color: #da9100;
}
.app {
  /* width: 200vw;
  height: 200vh;
  background-color: #da9100; */
  /* background: linear-gradient(to left, #c3a4f3, #858fe8); */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  background: #1a1832;
  border-radius: 15px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 26px;

}

.playagain-button {
  display: flex;
  justify-content: center;

}

.button1{
    width: 290px;
    height: 65px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    background-color: #296be4;
    /* background: linear-gradient(to bottom right, #6317ae 50%, #672cb9 50%); */
    border: none;
    cursor: pointer;
}

.exit-tag {
  display: flex;
  justify-content: center;
  color: #296be4;
  margin-bottom: 40px;
  font-size: 18px;
  cursor: pointer;
}
